@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<body>
    <h2>Complete your purchase with our partner!</h2>
    <div class="container">
        <section class="main-page mt-5">
            <a href="https://www.cryptomerchant.eu/Pay/PreOrder">
                <img src="https://www.cryptomerchant.eu/assets/images/paybtns/checkout_with.png" alt="CRYPTO PAYMENT BUTTON">
            </a>
    </div>
    </section>

</body>

</html>