<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container">
        <section style="height:800px" class="main-page mt-5">
            <div class="section-title">
                <h1 class="mb-3">Thank you for your purchase!</h1>
                <h3>Order number:</h3>
                <i class="fa-solid fa-check fa-6x" style="color:#0dd6af;"></i>
                <p>We successfully received your order, here is your receipt, please hang onto it!</p>
            </div>
           </div>
        </section>
    
</body>

</html>